[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ipdb = "*"
black = "*"
isort = "*"
mypy = "*"
flake8 = "*"

[packages]
telethon = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
main = "pipenv run python -m hitchhiker.main"
